*{font-family: 'Josefin Sans', sans-serif;}

.footer-dark {
    padding:50px 0;
    color:#f0f9ff;
    background-color:#121619;
  }

  h3{
    position: relative;
    right: 100%;
}

li {
   position: relative;
   right: 100%;
}

  .footer-dark h3 {
    margin-top:0;
    margin-bottom:12px;
    font-weight:bold;
    font-size:16px;
  }
  
  .footer-dark ul {
    padding:0;
    list-style:none;
    line-height:1.6;
    font-size:14px;
    margin-bottom:0;
  }
  

  @media only screen and (max-width: 600px) {
    .footer-dark {
      padding:50px 0;
      color:#f0f9ff;
      background-color:#121619;
    }

  }